{% extends "base.html" %} {% block content %}
<div class="center">
  {% if user %}
  <p>
    You're already signed in as {{ user.email }}.
    <a href="{{ url_for('profile') }}">View profile</a>
  </p>
  <p><a href="{{ url_for('logout') }}">Sign out</a></p>
  {% else %}
  <a href="{{ url_for('login') }}" class="g-btn">
    <img
      src="https://developers.google.com/identity/images/g-logo.png"
      class="g-logo"
    />
    <span class="g-text">Sign in with Google</span>
  </a>

  {% endif %}
</div>
{% endblock %}
